{% if settings.logo_use_image %}
  <a href="/">
    <span class="normal-logo {% if !settings.mobile_logo_use_image %}hidden-sm hidden-xs{% endif %}">
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
    </span>
    {% if settings.mobile_logo_use_image %}
      <span class="icon-logo hidden-xl hidden-lg hidden-md">
        <img src="{{ 'icon_logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo" width="100px">
      </span>
    {% endif %}
  </a>
{% else %}
	<a href="/" class="logo_name">{{ shop.name }}</a>
{% endif %}