<div class="row top-bar-nav">
  <div class="col-md-6">    
    
    {% if section.settings.show_phone %}    
    	<span id="phone-block">
          	<i class="fa fa-phone"></i> 
    		<span>
    			<a href="phone:{{ settings.company_phone }}"> 
    				{{ settings.company_phone }}
              	</a>
    		</span>
        </span>
 	{% endif %}
    
    {% if section.settings.show_email %}    
    	| <span id="email-block">
          	<i class="fa fa-envelope"></i> 
    		<span>
    			<a href="mailto:{{ settings.support_email }}"> 
    				{{ settings.support_email }}
              	</a>
    		</span>
        </span>
 	{% endif %}
    
    
    
  </div>
  <div class="col-md-6" style="text-align: right;">
   
    {% if shop.customer_accounts_enabled %}
      {% if customer  %}
        <a href="/account">Your Account</a>
      {% else %}
        {{ '<i class="fa fa-user"></i> Login' | customer_login_link }}
        
          <span>or</span>
          {{ '<i class="fa fa-lock"></i> Create' | customer_register_link }}
        
      {% endif %}
   {% endif %}
    
    
    
  </div>
</div>


{% schema %}
  {
    "name": "Top NavBar",
    "settings": [
      {
        "type":"checkbox",
        "id": "show_phone",
        "label": "Display Company Phone"	
      },
      {
        "type":"checkbox",
        "id": "show_email",
        "label": "Display Company Support Email"	
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
