<section class="container shopping-cart-container" style="min-height: 400px;">
    <div class="row">
        <div class="col-lg-12">
            <form action="/cart" method="post" novalidate class="cart">
            <h3><i class="fa fa-shopping-cart"></i> Shopping Cart</h3>
            {% if cart.item_count > 0 %}

                <div class="shopping-cart-table">
                    <table id="cart" class="table table-hover table-condensed" style="border: 1px solid #111;">
                        <thead>
                        <tr>
                            <th style="width:50%;background:#2a74ba;color:#fff;">Product</th>
                            <th style="width:10%;background:#2a74ba;color:#fff;">Price</th>
                            <th style="width:8%;background:#2a74ba;color:#fff;">Qty</th>
                            <th style="width:22%;background:#2a74ba;color:#fff;" class="text-center">Subtotal</th>
                            <th style="width:10%;background:#2a74ba;color:#fff;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart.items %}
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs">
                                            <a href="{{ item.url | within: collections.all }}" class="cart__image">
                                                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="col-sm-10" style="text-align: left;">
                                            <h4 class="nomargin t">
                                                <a href="{{ item.url }}" class="h5">
                                                    {{ item.product.title }}
                                                </a>
                                            </h4>

                                            {% unless item.variant.title contains 'Default' %}
                                                <br>
                                                <small>{{ item.variant.title }}</small>
                                            {% endunless %}

                                            {% if settings.cart_vendor_enable %}
                                                <p>{{ item.vendor }}</p>
                                            {% endif %}

                                            {% comment %}
                                                Optional, loop through custom product line items if available
                                                For more info on line item properties, visit:
                                                - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                                            {% endcomment %}
                                            {% if item.properties.size > 0 %}
                                                {% for p in item.properties %}
                                                    {% unless p.last == blank %}
                                                        {{ p.first }}:
                                                        {% comment %}
                                                            Check if there was an uploaded file associated
                                                        {% endcomment %}
                                                        {% if p.last contains '/uploads/' %}
                                                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                        {% else %}
                                                            {{ p.last }}
                                                        {% endif %}
                                                        <br>
                                                    {% endunless %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">
                                    <span class="h4 cart__large-labels">{{ 'cart.label.price' | t }}</span>
                                    <span class="h5">{{ item.price | money }}</span>
                                </td>
                                <td data-th="Quantity">
                                    <span class="h4 cart__large-labels">{{ 'cart.label.quantity' | t }}</span>
                                    <div class="qty-box-set">
                                        <input type="number" style="width: 50px;" class="form-control quantity-selector cart-number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
                                    </div>
                                </td>
                                <td data-th="Subtotal" class="text-center">
                                    <span class="h4 cart__large-labels">{{ 'cart.label.total' | t }}</span>
                                    <span class="h5">
                                      {% if item.original_line_price != item.line_price %}
                                          <small class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></small>
                                      {% endif %}
                                        {{ item.line_price | money }}
                                    </span>
                                    {% if item.original_line_price != item.line_price %}
                                        {% for discount in item.discounts %}
                                            <small class="cart-item__discount">
                                                {{ discount.title }}
                                            </small>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td class="actions" data-th="">
                                    <span class="h4 cart__large-labels" style="color: #111;">{{ 'cart.label.remove' | t }}</span>
                                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                                        <span><i class="fa fa-trash"></i></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if cart.discounts.size > 0 %}
                    <div class="cart-additional-savings text-right cart__row">
                        <span class="label cart-additional-savings__label">{{ 'cart.general.additional_savings' | t }}</span>
                        <span class="h5 cart-additional-savings__price">{{ cart.discount.total_savings | money }}</span>
                        {% for discount in cart.discounts %}
                            <small class="cart-additional-savings__savings">{{ discount.title }}</small>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-8">
                        {% comment %}
                            Optional, add a textarea for special notes
                            - Your theme settings can turn this on or off. Default is on.
                            - Make sure you have name="note" for the message to be submitted properly
                        {% endcomment %}
                        {% if settings.cart_notes_enable %}
                            {% assign noteSize = cart.note | size %}
                            <div class="grid__item wide--one-half post-large--one-half large--one-half">
                                <button type="button" class="text-link cart__note-add{% if noteSize > 0 %} is-hidden{% endif %}">
                                    {{ 'cart.label.add_note' | t }}
                                </button>
                                <div class="cart__note{% if noteSize > 0 %} is-active{% endif %}">
                                    <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                                    <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <p class="cart_total_price" style="margin:0;">
                            <span class="cart__subtotal-title h5" style="text-transform: uppercase; font-weight: bold;">{{ 'cart.general.subtotal' | t }}</span>
                            <span class="h5 cart__subtotal" style="font-weight: bold;">{{ cart.total_price | money }}</span>
                            {% if cart.total_discounts > 0 %}
                                {% assign savings = cart.total_discounts | money %}
                                <small class="cart-subtotal__savings">{{ 'cart.general.savings_html' | t: price: savings }}</small>
                            {% endif %}
                        </p>

                        <p class="shopping-checkout" style="text-align: right; ">
                            <em>{{ 'cart.general.shipping_at_checkout' | t }}</em>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12" >
                        {% comment %}
                            Continue shopping button
                        {% endcomment %}

                        <input type="submit" name="checkout" class="pull-right" value="{{ 'cart.general.checkout' | t }}">
                        <input type="submit" style="margin-right: 5px; " name="update" class="pull-right update-cart" value="{{ 'cart.general.update' | t }}">
                        <a class="btn btn-default pull-left" href="/collections/all">{{ 'cart.general.continue_shopping' | t }}</a>


                    </div>
                </div>
            </form>
            {% else %}
                <div class="alert alert-danger" style="text-align: center">
                    <span class="fa fa-shopping-cart fa-5x" style="font-size: 128px"></span>
                    <h1>Your Cart is Empty</h1>
                    <a href="collections/all" class="btn btn-default btn-lg">Continue Shopping</a>
                </div>
            {% endif %}

        </div>
    </div>
</section>